@function getRem($px) {
    @return (($px * 20) / 1920) * 1rem;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.banner {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: #d8d8d8;
    width: 100%;
    height: getRem(1000);
    overflow: hidden;
}

.banner .layerWrap {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.banner .video{
    position: relative;
    width: 100%;
    // height: 100%;
}

.banner .nav-outer{
    display: flex;
    position: absolute;
    top: getRem(20);
    left: getRem(0);
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: getRem(84);
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background-color: white;
        .nav span{
            color: #333333;
            &.active{
                color: #E0C9B2;
                border-bottom: 2px solid #E0C9B2;
            }
        }
    }
}

.banner .nav-outer .nav{
    width: getRem(1280);
    max-width: 1280px;
    min-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        cursor: pointer;
        opacity: 0.7;
        font-family: Helvetica;
        font-size: getRem(16);
        color: #FFFFFF;
        letter-spacing: 0;
        display: inline-block;
        height: getRem(35);
        line-height: getRem(35);
        &.active{
            font-family: FZLTZHK--GBK1-0;
            font-size: getRem(18);
            color: #FFFFFF;
            letter-spacing: 0;
            font-weight: bold;
            border-bottom: 2px solid white;
        }
    }
}

.banner .logo {
    // margin-left: getRem(100);
    width: getRem(110);
    height: getRem(44);
}

.banner .slogan{
    position: absolute;
    top: getRem(405);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner .titleWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: getRem(84);
}

.banner .title {
    opacity: 1;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: getRem(84);
    letter-spacing: 10;
    color: #ffffff;
    font-family: FZLTZHK--GBK1-0, Lantinghei SC;
    font-size: getRem(60);
    font-weight: 500;
}

.banner .titleWrap_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: getRem(50);
}

.banner .title_2 {
    opacity: 0.5;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: getRem(50);
    letter-spacing: 16;
    color: #ffffff;
    font-family: FZLTXHK--GBK1-0, Lantinghei SC;
    font-size: getRem(36);
    font-weight: 300;
}

.banner .collapseIcon {
    position: absolute;
    right: getRem(100);
    bottom: getRem(57);
    width: getRem(14);
    height: getRem(12);
}

.advantage {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    margin-top: getRem(140);
    width: 100%;
    height: getRem(367);
}

.advantage .hd {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: getRem(42);
}

.advantage .logo {
    width: getRem(100);
    height: getRem(6);
}

.advantage .productAdvantages {
    opacity: 1;
    margin-left: getRem(14);
    max-width: getRem(128);
    height: getRem(42);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: getRem(42);
    color: #222222;
    font-family: FZLTZHK--GBK1-0, Lantinghei SC;
    font-size: getRem(30);
    font-weight: 500;
}

.advantage .logo_2 {
    margin-left: getRem(14);
    width: getRem(100);
    height: getRem(6);
}

.advantage .bd {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    margin-top: getRem(60);
    width: getRem(1498);
    overflow: hidden;
}

.advantage .entryPicWrap {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: getRem(300);
    height: getRem(225);
}

.advantage .entryPic {
    filter: blur(getRem(20));
    margin-top: getRem(13);
    width: getRem(300);
    height: auto;
}

.advantage .info {
    opacity: 1;
    margin-top: getRem(29); 
    max-width: getRem(200);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: getRem(22);
    letter-spacing: 7.11;
    color: #333333;
    font-size: getRem(16);
    font-weight: 400;
}

.advantage .block {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: getRem(225); 
}

.advantage .entryPic_2 {
    filter: blur(getRem(20));
    width: getRem(300); 
    height: auto;
}

.advantage .info_2 {
    opacity: 1;
    margin-top: getRem(29);
    max-width: getRem(193);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: getRem(22);
    letter-spacing: 7.11;
    color: #333333;
    font-size: getRem(16);
    font-weight: 400;
}

.advantage .entryPicWrap_2 {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: getRem(300); 
    height: getRem(225); 
}

.advantage .entryPic_3 {
    filter: blur(getRem(20));
    margin-top: getRem(2);
    width: getRem(300); 
    height: auto;
}

.advantage .info_3 {
    opacity: 1;
    margin-top: getRem(29);
    max-width: getRem(212);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: getRem(22);
    letter-spacing: 7.11;
    color: #333333;
    font-size: getRem(16);
    font-weight: 400;
}

.advantage .entryPicWrap_3 {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: getRem(300); 
    height: getRem(225); 
}

.advantage .entryPic_4 {
    filter: blur(getRem(20));
    margin-top: getRem(12);
    width: getRem(300); 
    height: auto;
}

.advantage .info_4 {
    opacity: 1;
    margin-top: getRem(29); 
    max-width: getRem(226);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: getRem(22);
    letter-spacing: 7.11;
    color: #333333;
    font-size: getRem(16);
    font-weight: 400;
}

.advantage .entryPic_5 {
    position: absolute;
    top: 0;
    left: getRem(0);
    width: 100%;
    height: auto;
    overflow: hidden;
}

.advantage .entryPic_6 {
    position: absolute;
    top: 0;
    left: getRem(0);
    width: 100%;
    height: auto;
    overflow: hidden;
}

.advantage .entryPic_7 {
    position: absolute;
    top: 0;
    left: getRem(0);
    width: 100%;
    height: auto;
    overflow: hidden;
}

.advantage .entryPic_8 {
    position: absolute;
    top: 0;
    left: getRem(0);
    width: 100%;
    height: auto;
    overflow: hidden;
}

.experience {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    height: getRem(530); 
    width: getRem(1501);
    margin: 0 auto;
    margin-top: getRem(200);
}

.experience .primary {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: getRem(530);
}

.experience .title {
    opacity: 1;
    margin-top: getRem(69);
    max-width: getRem(385);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: getRem(56);
    color: #000000;
    font-family: FZLTZHK--GBK1-0, Lantinghei SC;
    font-size: getRem(40);
    font-weight: 500;
}

.experience .article {
    opacity: 1;
    width: getRem(397);
    height: getRem(120);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: getRem(40);
    color: #333333;
    font-family: FZLTXHK--GBK1-0, Lantinghei SC;
    font-size: getRem(18);
    font-weight: 300;
}

.experience .laptop{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    width: getRem(914);
    height: getRem(530);
}

.experience .laptop .back{
    /* position: absolute; */
    /* top: getRem(0);
    left: getRem(0); */
    width: 100%;
    height: 100%;
}

.experience .laptop .content{
    position: absolute;
    top: getRem(50);
    right: getRem(105);
    width: getRem(712);
    height: getRem(440);
}

.experience .phone{
    display: flex;
    position: absolute;
    top: getRem(95);
    left: getRem(504);
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: getRem(210);
    height: getRem(432);
}

.experience .bg {
    position: absolute;
    top: getRem(0);
    left: getRem(0);
    width: getRem(210);
    height: getRem(432);
}

.experience .itemLong {
    position: relative;
    width: getRem(190);
    height: getRem(411);
}

.selected {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: getRem(1520);
    margin: 0 auto;
    margin-top: getRem(200);
}

.selected .hd {
    display: inline-block;
    width: 100%;
    text-align: center;
    opacity: 1;
    overflow: hidden;
    line-height: getRem(56);
    color: #333333;
    font-family: FZLTZHK--GBK1-0, Lantinghei SC;
    font-size: getRem(40);
    font-weight: 500;
}

.selected .bd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: getRem(6);
    width: 100%;
}

.selected .article {
    opacity: 1;
    width: getRem(896);
    height: getRem(74);
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    line-height: getRem(37);
    color: #333333;
    font-family: FZLTXHK--GBK1-0, Lantinghei SC;
    font-size: getRem(18);
    font-weight: 300;
}

.selected .nav{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: getRem(80);
    height: getRem(44);
    border-bottom: getRem(1) solid #D8D8D8;
}
.selected .nav .nav-item{
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    font-family: FZLTXHK--GBK1-0;
    font-size: getRem(18);
    color: #999999;
    letter-spacing: 0;
    text-align: center;
    margin-left: getRem(94);
    &:first-child{
        margin-left: 0;
    }
    &.active{
        // border-bottom: getRem(2) solid #E0C9B2;
        color: #E0C9B2;
        font-family: PingFangSC-Regular;
        font-size: getRem(20);
        color: #E0C9B2;
        letter-spacing: 0;
        text-align: center;
    }
}
.selected{
    .swiper-container{
        width: 100%;
        height: getRem(780);
        margin-top: getRem(80);
        .swiper-wrapper{
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding-top: getRem(80);
        }
    }
}
.selected .main {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
    overflow: visible;
    width: 100%;
    height: getRem(700);
    .profile{
        opacity: 0;
        position: absolute;
        bottom: getRem(0);
        // right: getRem(101);
        right: getRem(0);
        width: getRem(723);
        height: getRem(784);
        transition: all 1s;
    }
    &.swiper-slide-active{
        .profile{
            opacity: 1;
            right: getRem(101);
        }
        .content-left-wrap{
            opacity: 1;
            top: getRem(90);
        }
    }
}

.selected .layerWrap {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    margin-top: getRem(84);
    width: getRem(1520);
    height: getRem(700);
}

.selected .main .back{
    width: 100%;
    height: 100%;;
}
.selected .main .detail{
    font-family: PingFangSC-Regular;
    font-size: getRem(20);
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: getRem(40);
    width: getRem(555);
    margin-top: getRem(20);
}

.selected .sportsEvents_2 {
    margin-top: getRem(60);
    line-height: getRem(70);
    color: #ffffff;
    font-size: getRem(50);
    font-weight: 400;
}

.selected .article_2 {
    position: absolute;
    bottom: getRem(291);
    left: getRem(82);
    opacity: 1;
    line-height: getRem(40);
    color: #ffffff;
    font-size: getRem(20);
    font-weight: 400;
}

.selected .block {
    display: flex;
    position: absolute;
    bottom: getRem(126);
    left: getRem(0);
    flex-direction: row;
    width: getRem(1519);
    height: getRem(52);
}
.selected .content-left-wrap{
    position: absolute;
    // top: getRem(90);
    opacity: 0;
    transition: all 1s;
    top: getRem(110);
    left: getRem(80);
    width: getRem(900);
}
.selected .logo-wrap{
    height: getRem(50);
    display: flex;
    margin-top: getRem(34);
}
.selected .logo1{
    height: 100%;
    width: auto;
}

.selected .logo2{
    width: auto;
    height: 100%;
    margin-left: getRem(43);
}


.selected .sportsEvents_3 {
    opacity: 1;
    line-height: getRem(108);
    color: #ffffff;
    font-family: Helvetica;
    font-size: getRem(90);
    font-weight: normal;
}
.creative{
    width: 100%;
    height: getRem(1000);
    position: relative;
    margin-top: getRem(200);
    img{
        width: 100%;
        height: 100%;
    }
    .p1{
        position: absolute;
        left: getRem(300);
        top: getRem(300);
        font-family: FZLTZHK--GBK1-0;
        font-size: getRem(40);
        color: #FFFFFF;
        letter-spacing: 0;
    }
    .p2{
        position: absolute;
        width: getRem(410);
        left: getRem(300);
        top: getRem(373);
        font-family: FZLTXHK--GBK1-0;
        font-size: getRem(18);
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: getRem(40);
        margin-top: getRem(17);
    }
}

.pays {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: getRem(1920);
    height: getRem(1000);
}

.pays .box {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    width: getRem(1920);
    height: getRem(1000);
}

.pays .layer {
    position: absolute;
    top: getRem(0);
    left: getRem(0);
    width: getRem(1920);
    height: getRem(1000);
}

.pays .primary {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    margin-top: getRem(196);
    width: getRem(1190);
    height: getRem(580);
}

.pays .outer {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: getRem(116);
}

.pays .actionBg {
    margin-left: getRem(123);
    width: getRem(269);
    height: getRem(64);
}

.pays .pic {
    margin-left: getRem(115);
    width: getRem(116);
    height: getRem(116);
}

.pays .shopLogo {
    margin-left: getRem(180);
    width: getRem(120);
    height: getRem(65);
}

.pays .block {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: getRem(64);
    height: getRem(138);
}

.pays .buttonBg {
    width: getRem(160);
    height: getRem(50);
}

.pays .img {
    margin-left: getRem(82);
    width: getRem(120);
    height: getRem(113);
}

.pays .smallItem {
    margin-left: getRem(126);
    width: getRem(150);
    height: getRem(138);
}

.pays .smallPic {
    margin-left: getRem(127);
    width: getRem(100);
    height: getRem(100);
}

.pays .actionBg_2 {
    margin-left: getRem(129);
    width: getRem(196);
    height: getRem(38);
}

.pays .group {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: getRem(38);
    height: getRem(81);
}

.pays .wrap {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: getRem(11);
    width: getRem(465);
    height: getRem(70);
}

.pays .shopLogo_2 {
    width: getRem(127);
    height: getRem(70);
}

.pays .buttonBg_2 {
    margin-left: getRem(137);
    width: getRem(166);
    height: getRem(50);
}

.pays .logo {
    margin-left: getRem(147);
    width: getRem(156);
    height: getRem(53);
}

.pays .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: getRem(51);
    height: getRem(92);
}

.pays .actionBg_3 {
    margin-left: getRem(199);
    width: getRem(188);
    height: getRem(50);
}

.pays .logo_2 {
    margin-top: getRem(11);
    margin-left: getRem(107);
    width: getRem(130);
    height: getRem(81);
}

.pays .buttonBg_3 {
    margin-top: -getRem(32);
    margin-left: getRem(85);
    width: getRem(206);
    height: getRem(46);
}
.administrator{
    width: 100%;
    height: getRem(1000);
    position: relative;
    img{
        width: 100%;
        height: 100%;
    }
    .p1{
        position: absolute;
        left: getRem(300);
        top: getRem(300);
        font-family: FZLTZHK--GBK1-0;
        font-size: getRem(40);
        color: #FFFFFF;
        letter-spacing: 0;
    }
    .p2{
        position: absolute;
        width: getRem(410);
        left: getRem(300);
        top: getRem(373);
        font-family: FZLTXHK--GBK1-0;
        font-size: getRem(18);
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: getRem(40);
        margin-top: getRem(17);
    }
}

