html,
body {
  padding: 0;
  margin: 0;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #d8d8d8;
  width: 100%;
  height: 52.1vw;
  overflow: hidden;
}

.banner .layerWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.banner .layer {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0.20833rem;
  left: 0rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 0.45833rem;
}

.banner .outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 0.45833rem;
}

.banner .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 5.0625rem;
  height: 0.27083rem;
}

.banner .homePage {
  opacity: 1;
  width: 0.375rem;
  height: 0.26042rem;
  line-height: 0.26042rem;
  color: #ffffff;
  font-family: FZLTZHK--GBK1-0, Lantinghei SC;
  font-size: 0.1875rem;
  font-weight: 500;
}

.banner .productAdvantages {
  opacity: 0.7;
  margin-top: 0.04167rem;
  width: 0.66667rem;
  height: 0.22917rem;
  line-height: 0.22917rem;
  color: #ffffff;
  font-size: 0.16667rem;
  font-weight: 400;
}

.banner .technicalAdvantages {
  opacity: 0.7;
  margin-top: 0.04167rem;
  width: 0.66667rem;
  height: 0.22917rem;
  line-height: 0.22917rem;
  color: #ffffff;
  font-size: 0.16667rem;
  font-weight: 400;
}

.banner .serviceAdvantages {
  opacity: 0.7;
  margin-top: 0.04167rem;
  width: 0.66667rem;
  height: 0.22917rem;
  line-height: 0.22917rem;
  color: #ffffff;
  font-size: 0.16667rem;
  font-weight: 400;
}

.banner .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.04167rem;
  border-radius: 0.01042rem;
  background-color: #ffffff;
  width: 0.33333rem;
  height: 0.02083rem;
}

.banner .logo {
  margin-left: 1.04167rem;
  width: 1.14583rem;
  height: 0.45833rem;
}

.banner .brandStrength {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.7;
  margin-left: 1.04167rem;
  width: 0.66667rem;
  height: 0.22917rem;
  line-height: 0.22917rem;
  color: #ffffff;
  font-size: 0.16667rem;
  font-weight: 400;
}

.banner .successStories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.7;
  margin-left: 0.80208rem;
  width: 0.66667rem;
  height: 0.22917rem;
  line-height: 0.22917rem;
  color: #ffffff;
  font-size: 0.16667rem;
  font-weight: 400;
}

.banner .businessProcess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.7;
  margin-left: 0.79167rem;
  width: 0.66667rem;
  height: 0.22917rem;
  line-height: 0.22917rem;
  color: #ffffff;
  font-size: 0.16667rem;
  font-weight: 400;
}

.banner .contactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.7;
  margin-left: 0.80208rem;
  width: 0.66667rem;
  height: 0.22917rem;
  line-height: 0.22917rem;
  color: #ffffff;
  font-size: 0.16667rem;
  font-weight: 400;
}

.banner .slogan {
  position: absolute;
  top: 21.9vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .titleWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 0.875rem;
}

.banner .title {
  opacity: 1;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.875rem;
  letter-spacing: 10;
  color: #ffffff;
  font-family: FZLTZHK--GBK1-0, Lantinghei SC;
  font-size: 0.625rem;
  font-weight: 500;
}

.banner .titleWrap_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 0.52083rem;
}

.banner .title_2 {
  opacity: 0.5;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.52083rem;
  letter-spacing: 16;
  color: #ffffff;
  font-family: FZLTXHK--GBK1-0, Lantinghei SC;
  font-size: 0.375rem;
  font-weight: 300;
}

.banner .collapseIcon {
  position: absolute;
  right: 1.04167rem;
  bottom: 0.59375rem;
  width: 0.14583rem;
  height: 0.125rem;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 7.3vw;
  width: 100%;
  height: 3.82292rem;
}

.advantage .hd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 0.4375rem;
}

.advantage .logo {
  width: 1.04167rem;
  height: 0.0625rem;
}

.advantage .productAdvantages {
  opacity: 1;
  margin-left: 0.14583rem;
  max-width: 1.33333rem;
  height: 0.4375rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.4375rem;
  color: #222222;
  font-family: FZLTZHK--GBK1-0, Lantinghei SC;
  font-size: 0.3125rem;
  font-weight: 500;
}

.advantage .logo_2 {
  margin-left: 0.14583rem;
  width: 1.04167rem;
  height: 0.0625rem;
}

.advantage .bd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  /* margin-top: 6.2vw; */
  margin-top: calc(60vw / 19.2);
  width: 78vw;
  overflow: hidden;
}

.advantage .entryPicWrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* width: getRem(300); */
  width: calc(300vw / 19.2);
  height: calc(225vw/ 19.2);
  /* height: getRem(206); */
}

.advantage .entryPic {
  -webkit-filter: blur(0.20833rem);
          filter: blur(0.20833rem);
  margin-top: 0.13542rem;
  /* width: getRem(300); */
  width: calc(300vw / 19.2);
  height: auto;
}

.advantage .info {
  opacity: 1;
  /* margin-top: getRem(19); */
  margin-top: calc(29vw / 19.2);
  max-width: 2.08333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.22917rem;
  letter-spacing: 7.11;
  color: #333333;
  font-size: 0.16667rem;
  font-weight: 400;
}

.advantage .block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* margin-left: getRem(79); */
  /* height: getRem(206); */
  height: calc(225vw/ 19.2);
}

.advantage .entryPic_2 {
  -webkit-filter: blur(0.20833rem);
          filter: blur(0.20833rem);
  /* width: getRem(300); */
  width: calc(300vw / 19.2);
  height: auto;
}

.advantage .info_2 {
  opacity: 1;
  /* margin-top: getRem(19); */
  margin-top: calc(29vw / 19.2);
  /* margin-left: getRem(95); */
  max-width: 2.01042rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.22917rem;
  letter-spacing: 7.11;
  color: #333333;
  font-size: 0.16667rem;
  font-weight: 400;
}

.advantage .entryPicWrap_2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* margin-left: getRem(77); */
  /* width: getRem(300); */
  width: calc(300vw / 19.2);
  /* height: getRem(206); */
  height: calc(225vw/ 19.2);
}

.advantage .entryPic_3 {
  -webkit-filter: blur(0.20833rem);
          filter: blur(0.20833rem);
  margin-top: 0.02083rem;
  /* width: getRem(300); */
  width: calc(300vw / 19.2);
  height: auto;
}

.advantage .info_3 {
  opacity: 1;
  /* margin-top: getRem(19); */
  margin-top: calc(29vw / 19.2);
  max-width: 2.20833rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.22917rem;
  letter-spacing: 7.11;
  color: #333333;
  font-size: 0.16667rem;
  font-weight: 400;
}

.advantage .entryPicWrap_3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* margin-left: getRem(92); */
  /* width: getRem(300); */
  width: calc(300vw / 19.2);
  /* height: getRem(206); */
  height: calc(225vw/ 19.2);
}

.advantage .entryPic_4 {
  -webkit-filter: blur(0.20833rem);
          filter: blur(0.20833rem);
  margin-top: 0.125rem;
  /* width: getRem(300); */
  width: calc(300vw / 19.2);
  height: auto;
}

.advantage .info_4 {
  opacity: 1;
  /* margin-top: getRem(19); */
  margin-top: calc(29vw / 19.2);
  max-width: 2.35417rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.22917rem;
  letter-spacing: 7.11;
  color: #333333;
  font-size: 0.16667rem;
  font-weight: 400;
}

.advantage .entryPic_5 {
  position: absolute;
  top: 0;
  left: 0rem;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.advantage .entryPic_6 {
  position: absolute;
  top: 0;
  left: 0rem;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.advantage .entryPic_7 {
  position: absolute;
  top: 0;
  left: 0rem;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.advantage .entryPic_8 {
  position: absolute;
  top: 0;
  left: 0rem;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* height: getRem(530); */
  width: 15.63542rem;
  height: calc(530vw / 19.2);
  margin: 0 auto;
  margin-top: 2.08333rem;
}

.experience .primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 5.52083rem;
}

.experience .title {
  opacity: 1;
  margin-top: 0.71875rem;
  max-width: 4.01042rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.58333rem;
  color: #000000;
  font-family: FZLTZHK--GBK1-0, Lantinghei SC;
  font-size: 0.41667rem;
  font-weight: 500;
}

.experience .article {
  opacity: 1;
  width: 4.13542rem;
  height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.41667rem;
  color: #333333;
  font-family: FZLTXHK--GBK1-0, Lantinghei SC;
  font-size: 0.1875rem;
  font-weight: 300;
}

.experience .laptop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 9.52083rem;
  height: 5.52083rem;
}

.experience .laptop .back {
  /* position: absolute; */
  /* top: getRem(0);
    left: getRem(0); */
  width: 100%;
  height: 100%;
}

.experience .laptop .content {
  position: absolute;
  top: 0.52083rem;
  right: 1.09375rem;
  width: 7.41667rem;
  height: 4.58333rem;
}

.experience .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0.98958rem;
  left: 5.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.1875rem;
  height: 4.5rem;
}

.experience .bg {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 2.1875rem;
  height: 4.5rem;
}

.experience .itemLong {
  position: relative;
  width: 1.97917rem;
  height: 4.28125rem;
}

.selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15.83333rem;
  margin: 0 auto;
  margin-top: 2.08333rem;
}

.selected .hd {
  display: inline-block;
  width: 100%;
  text-align: center;
  opacity: 1;
  overflow: hidden;
  line-height: 0.58333rem;
  color: #333333;
  font-family: FZLTZHK--GBK1-0, Lantinghei SC;
  font-size: 0.41667rem;
  font-weight: 500;
}

.selected .bd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.0625rem;
  width: 100%;
}

.selected .article {
  opacity: 1;
  width: 9.33333rem;
  height: 0.77083rem;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  line-height: 0.38542rem;
  color: #333333;
  font-family: FZLTXHK--GBK1-0, Lantinghei SC;
  font-size: 0.1875rem;
  font-weight: 300;
}

.selected .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.83333rem;
  height: 0.45833rem;
  border-bottom: 1px solid #D8D8D8;
}

.selected .nav .nav-item {
  display: inline-block;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.selected .nav .nav-item.active {
  border-bottom: 2px solid #E0C9B2;
  color: #E0C9B2;
}

.selected .sportsEvents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  opacity: 1;
  height: 0.29167rem;
  line-height: 0.29167rem;
  color: #e0c9b2;
  font-size: 0.20833rem;
  font-weight: 400;
}

.selected .liveEntertainment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  margin-left: 0.9375rem;
  width: 0.75rem;
  height: 0.26042rem;
  line-height: 0.26042rem;
  color: #999999;
  font-size: 0.1875rem;
  font-weight: 400;
}

.selected .eSports {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  margin-left: 0.97917rem;
  width: 0.75rem;
  height: 0.26042rem;
  line-height: 0.26042rem;
  color: #999999;
  font-size: 0.1875rem;
  font-weight: 400;
}

.selected .chessCardGames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  margin-left: 0.96875rem;
  width: 0.75rem;
  height: 0.26042rem;
  line-height: 0.26042rem;
  color: #999999;
  font-size: 0.1875rem;
  font-weight: 400;
}

.selected .lotteryBetting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  margin-left: 0.97917rem;
  width: 0.75rem;
  height: 0.26042rem;
  line-height: 0.26042rem;
  color: #999999;
  font-size: 0.1875rem;
  font-weight: 400;
}

.selected .electronicEntertainment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  margin-left: 0.97917rem;
  max-width: 3.96875rem;
  height: 0.26042rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.26042rem;
  color: #999999;
  font-size: 0.1875rem;
  font-weight: 400;
}

.selected .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0.58333rem;
  width: 100%;
  height: 7.29167rem;
}

.selected .layerWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.875rem;
  width: 15.83333rem;
  height: 7.29167rem;
}

.selected .layer {
  position: relative;
  width: 15.83333rem;
  height: 7.29167rem;
}

.selected .sportsEvents_2 {
  position: absolute;
  top: 2.625rem;
  left: 0.85417rem;
  opacity: 1;
  line-height: 0.72917rem;
  color: #ffffff;
  font-size: 0.52083rem;
  font-weight: 400;
}

.selected .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 3.42708rem;
  left: 0rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 15.82292rem;
  height: 0.41667rem;
}

.selected .desc {
  opacity: 1;
  margin-left: 0.85417rem;
  line-height: 0.41667rem;
  color: #ffffff;
  font-size: 0.20833rem;
  font-weight: 400;
}

.selected .num {
  opacity: 1;
  line-height: 0.41667rem;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 0.20833rem;
  font-weight: normal;
}

.selected .sports {
  opacity: 1;
  line-height: 0.41667rem;
  color: #ffffff;
  font-size: 0.20833rem;
  font-weight: 400;
}

.selected .text {
  opacity: 1;
  line-height: 0.41667rem;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 0.20833rem;
  font-weight: normal;
}

.selected .info {
  opacity: 1;
  line-height: 0.41667rem;
  color: #ffffff;
  font-size: 0.20833rem;
  font-weight: 400;
}

.selected .article_2 {
  position: absolute;
  bottom: 3.03125rem;
  left: 0.85417rem;
  opacity: 1;
  line-height: 0.41667rem;
  color: #ffffff;
  font-size: 0.20833rem;
  font-weight: 400;
}

.selected .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 1.3125rem;
  left: 0rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 15.82292rem;
  height: 0.54167rem;
}

.selected .actionBg {
  margin-left: 0.85417rem;
  width: 2.40625rem;
  height: 0.52083rem;
}

.selected .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 0.44792rem;
  background-color: #ffffff;
  width: 0.47917rem;
  height: 0.54167rem;
}

.selected .banner {
  position: absolute;
  top: 0rem;
  left: 7.70833rem;
  width: 7.53125rem;
  height: 8.16667rem;
}

.selected .sportsEvents_3 {
  position: absolute;
  top: 1.8125rem;
  left: 0rem;
  opacity: 1;
  line-height: 1.125rem;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 0.9375rem;
  font-weight: normal;
}
/*# sourceMappingURL=index.css.map */